name: Test
on:
  pull_request:
    branches: [ master ]
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
    - uses: golangci/golangci-lint-action@v3.7.0
      with:
        version: v1.61.0
        skip-cache: true
    - run: go test -v --race ./...
